* {
    margin: 0;
    border: 0;
}

body {
    background-color: #454545;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    color: white;
}

header {
    background-color: #1F2937;
    padding: 20px 0px;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.results {
    padding: 8px;
    margin: 8px 0px;
    font-size: 25px;
    display: flex;
    gap: 50px;
}

#you, #pc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 16px;
    gap: 8px;
}

#restart {
    color: black;
    background-color: #c4c4c4;
    border-radius: 20px;
    padding: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.719);
}

#restart:active {
    position:relative;
    top: 2px;
    left: 2px;
    box-shadow:none;
}

.buttons {
    background-color: #c4c4c4;
    border-radius: 30px;
    padding: 32px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.719);
}

.buttons:active{
    position:relative;
    top: 2px;
    left: 2px;
    box-shadow:none;
  }

#controls {
    margin: 8px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #FD7D32;
}

#gameResult, #winner {
    margin: 8px;
    text-align: center;
    font-size: 24px;
}

footer {
    background-color: #1F2937;
    padding: 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: fixed;
    bottom:0;
    left:0;
}

@media (max-width: 600px) {
    button {
        padding: 16px;
    }
    #controls {
        gap: 20px;
    }
}

@media (max-width: 450px) {
    body {
        font-size: 18px;
    }
    .buttons {
        padding: 8px;
    }
    .results {
        gap: 25px;
    }
    #controls {
        margin: 4px;
        gap: 10px;
    }
    footer {
        font-size: 16px;
    }
}